---
import Layout from '../components/Layout.astro';
---

<Layout>
    <div class='flex flex-col gap-2 text-center grow justify-center items-center'>
        <div class='flex flex-col gap-2 w-max'>
            <a href='teach-mode' class='py-1 px-2 rounded-md bg-leuchtorange hover:bg-leuchtorange/60 transition'
                >Teach Mode</a
            >
            <a href='lam' class='py-1 px-2 rounded-md bg-leuchtorange hover:bg-leuchtorange/60 transition'>LAM</a>
        </div>
    </div>
</Layout>
